<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.2/anchor.min.js"></script>
<script>
anchors.add('h1,h2,h3,h4,h5,h6').remove('.page-heading > h1');
</script>

<script>
function toggleSidebar(item) {
  $('#site-sidebar').toggleClass('sidebar-hidden');
  if ($('#site-sidebar').width() != 300) {
    item.innerHTML = "&#x25B2"
  } else {
    item.innerHTML = "&#x25BC"
  }
}
</script>

<script>
if ($('#sidebar-focus').length != 0) {
  $('#site-sidebar').scrollTop($('#sidebar-focus').position().top - 100);
}
</script>
